<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test_scripts.PendingAccounts</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>backButtonTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setBrowserBeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setBrowserBeforeMethods</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setupExtentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addLogsIntoExtentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resetElementWait</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resetPageLoadWait</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setScreenCaptureTrue</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
