<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ALL</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eed3b9">  <td>18/04/25 11:34:13</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setBrowserBeforeSuite(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">&gt;&gt;setBrowserBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@521081105</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/25 11:34:13</td>   <td>4</td> <td title="&gt;&gt;BaseTest.startToRecord()[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">&gt;&gt;startToRecord</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@521081105</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/25 11:34:13</td>   <td>127</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">&gt;&gt;setBrowserBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@521081105</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/25 11:34:13</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeClass(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">&gt;&gt;setBrowserBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@521081105</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/25 11:34:13</td>   <td>150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeMethods(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">&gt;&gt;setBrowserBeforeMethods</td> 
<td>&nbsp;</td>  <td>main@521081105</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/25 11:34:13</td>   <td>150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupExtentReport(java.lang.reflect.Method)[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">&gt;&gt;setupExtentReport</td> 
<td>&nbsp;</td>  <td>main@521081105</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/04/25 11:34:13</td>   <td>153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PendingAccounts.loginTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">loginTest</td> 
  <td>main@521081105</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/25 11:34:27</td>   <td>13841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.addLogsIntoExtentReport(org.testng.ITestResult)[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">&lt;&lt;addLogsIntoExtentReport</td> 
<td>&nbsp;</td>  <td>main@521081105</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/25 11:34:27</td>   <td>13844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:test_scripts.PendingAccounts@147ed70f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@521081105</td>   <td></td> </tr>
</table>
