<h2>Reporter output</h2><table><tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/]</td></tr>
<tr><td><br>Enter text [[brajendra.srivastava@paytm.com]] in [UserName] on [LoginPage]</td></tr>
</table>